<div class="menuheader">
      
      <ul class="nav justify-content-end">
        <h4 id="mainheading">Customer Management</h4>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="chart">Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">Home</a>
        </li>
      </ul>
   
          
     
    </div>

