<nav class="nav_list">
    <ul class="nav justify-content-end">
        <h2 style="color: rgb(250, 125, 125); margin-right: 800px;">Customer Analytics</h2>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " routerLink="user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="chart">Chart</a>
        </li>
      </ul>
      
  </nav>


  
<router-outlet>
  
</router-outlet>
