<div class="reg_div">
    <br>
    <h4 style="margin-left: 180px;">Create New User</h4>
    <br>
     <div class="form_div" classList="FormGroup">
     <h5 style="margin-left: 10px;"> Personal Details</h5> 
     <hr>
     <form [formGroup]="regForm"  (ngSubmit)="onCreate()"  >
        <br>
        <div class="row">
            <div class="col-sm-4">
             <label>First Name*</label>
              <input type="text" class="form-control"  formControlName="firstName" style="border: 1px solid;" placeholder="First name" required>
            </div>
            <div class="col-sm-4">
            <label>Last Name*</label>
              <input type="text" class="form-control" formControlName="lastName" style="border: 1px solid;" placeholder="Last name" required>
            </div>
          </div> 
          <br>
          <div class="row">
            <div class="col-sm-4">
             <label>Gender*</label>
              <select type="select"
                class="form-control" style="border: 1px solid;"placeholder="gender"  formControlName="gender" required><option>Male</option><option>Female</option> </select>
            </div>
            <div class="col-sm-4">
            <label>Date of Birth*</label>
              <input type="date" class="form-control" formControlName="dob"  style="border: 1px solid;"placeholder="Date of birth" required>
            </div>
          </div> 
          <br>
          <div class="row">
            <div class="col-sm-4">               
             <label>Email*</label>
              <input type="email" class="form-control"  formControlName="emailid" style="border: 1px solid;"placeholder="Enter your Email" required>
            </div>
            <div class="col-sm-4">
            <label>Phone Number*</label>
              <input type="number" class="form-control" formControlName="mobileno" style="border: 1px solid;" placeholder="Enter Mobile Number" required>
            </div>
            </div>
             <br>
             <h5 style="margin-left: 20px;">Create Password</h5>
             <hr>
             <div class="row">
                <div class="col-sm-4">               
                 <label>Password*</label>
                  <input type="password" class="form-control" formControlName="pass"  style="border: 1px solid;"placeholder="Create Password" required>
                </div>
                <div class="col-sm-4">
                <label>Confirm Password*</label>
                  <input type="password" class="form-control" formControlName="confirmpass" style="border: 1px solid;" placeholder="Confirm Password" required>
                </div>
                </div>
                <br>
             <button type="submit" style="background-color: rgb(107, 82, 250); padding-left: 40px;border-radius: 10px;  padding-right: 30px;  margin-left: 250px; text-align: center;"> Create</button>
 
     </form>
     </div>
</div>
