<div class="dash_style">
 <br>
 <h4 id="dash_heading">User Overview</h4>
 <div class="dash_view">
       <!-- card1  -->
    <div class="card" style="width: 320px; height: 230px;border-radius: 15px; background-color: rgb(255, 221, 134);">
      <div class="row">
        <div style="margin-left: 20px; margin-top: 20px;" class="col" ><h5 >Overall <br>Progress</h5></div>
        <div class="col">
          <div style="width:70px;height:70px; border: 2px solid; border-radius: 20px ;margin-top: 20px;"><h4 style="text-align: center;">120%</h4></div></div>
      </div>
      <label style="color: blue; font-size:70px;">.</label> In Progress
      <div class="progress" role="progressbar" aria-label="Basic example" style="height: 10px; margin-right: 40px; margin-left:20;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 34%"></div>
      </div>
          </div>
        <!-- card2   -->
      <div class="card" style="width: 320px; height: 230px;border-radius: 15px;"> 
        <div class="row">
          <div style="margin-left: 20px; margin-top: 20px;" class="col" ><h5 >Overall <br>Progress</h5></div>
          <div class="col"><div style="width:70px;height:70px; border: 2px solid; border-radius: 20px ;margin-top: 20px;"><h4 style="text-align: center;">120%</h4></div></div>
        </div>
        <label style="color: blue; font-size:70px;">.</label> In Progress
        <div class="progress" role="progressbar" style="height: 10px; margin-right: 40px; margin-left:20;" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: 34%"></div>
        </div>
        </div>
             <!-- card3   -->
      <div class="card" style="width: 320px; height: 230px;border-radius: 15px;">
        <div class="row">
          <div style="margin-left: 20px; margin-top: 20px;" class="col" ><h5 >Overall <br>Progress</h5></div>
          <div class="col"><div style="width:70px;height:70px; border: 2px solid; border-radius: 20px ;margin-top: 20px;"><h4 style="text-align: center;">120%</h4></div></div>
        </div>
        <label style="color: blue; font-size:70px;">.</label> In Progress &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="progress" role="progressbar" aria-label="Basic example" style="height: 10px; margin-right: 40px; margin-left:20;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: 34%"></div>
        </div>
        </div>
        </div>
        <br>
        <h4 id="dash_heading">Loan</h4>
        <div class="dash_view1">
          <!-- card1  -->
       <div class="card" style="width: 320px; height: 230px;border-radius: 15px; ">
         <img  src="assets/cash-coin.svg" style="height: 60px; width: 60px; margin-left: 70px;margin-top: 70px;">
         </div>
           
           <!-- card2   -->
         <div class="card" style="width: 320px; height: 230px;border-radius: 15px;"> 
           <img src="assets/cart.svg" style="height: 60px; width: 60px; margin-left: 60px;margin-top: 60px;">
           <button class="btn btn-primary" style="margin-top: 90px;" routerLink="about" >Apply</button>
           </div>
                <!-- card3   -->
         <div class="card" style="width: 320px; height: 230px;border-radius: 15px;">
           <img src="assets/receipt.svg" style="height: 60px; width: 60px;margin-left: 60px;margin-top: 60px;" >
           </div>
<br>
<br>
<div class="dash_view3">
  <br>
  <div class="img_first">
    <img src="assets/High_resolution_wallpaper_background_ID_77701905456.jpg" width="160px" height="170px" class="img_lorem" > 
    <div class="text">
    <h2><b>Lorem ipsum dolor</b></h2>
    <p class="img_para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut possimus nam neque ipsum cupiditate laboriosam dolore, consectetur praesentium tempora voluptates modi magnam soluta animi at qui in rerum nesciunt est excepturi, quia ipsam explicabo suscipit rem laborum. Excepturi aut culpa facilis nobis nam deleniti explicabo sequi saepe deserunt voluptates ullam soluta iste ducimus, reprehenderit in tenetur consequuntur quibusdam..</p>
  </div>
  <br>
  <br>
  

 
  </div>
  
 
 
</div>

  
</div>

        
        
       
      
 


